*.pyc
*.png
experiment_results/*.txt
experiment_results/*.db
*.csv
*.zip
*.json
*.err
*.pt
*.sh
*.dill
*.log
*.logs
.ipynb_checkpoints/
__pycache__
data/KRAS_G12D/dataset_pickles.pkl
.DS_Store
experiment_results/compound_samples/*.db


.ipynb_checkpoints
experiment_results
KRAS_stoned*
data